<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>

<body>

        <div id="header-container">
            <div id="logo-container">
                <img src="../images/logo.svg">
            </div>
            <div id="menu-container">
                <button name="menu">Menu</button>
                <button name="locals">Lokale</button>
                <button name="cart">Koszyk</button>
                <button name="login">Zaloguj</button>
            </div>
        </div>

        <div id="image-container" class="segment">
            <img src="../images/graphic.svg">
        </div>
    
        <div id="wrapper">
            <div id="products" class="panels">Products</div>

        </div>
        
        



</body>

</html>