<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="public/css/main-page.css">
  <script src="public/scripts/main.js"></script>
</head>

<body>


    <div class="navbar_bg" id="nbbg"></div>
    
    <div class="navbar" id="myNavbar">
        <a href="/main">
            <img src="public/images/logo.svg">
        </a>
        <a href="/login" class="options active">Log in</a>
        <a href="/cart" class="options">Cart</a>
        <a href="/locales" class="options">Locales</a>      
        <a href="#products-container" class="options" style="scroll-behavior: smooth;">Menu</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            &#9776;
        </a>

    
    </div>


 
    <div class="image-container">
        <img src="public/images/slice_09.svg">
    </div>

    <div class="image-container" id="slice_01">
        <img src="public/images/slice_01.svg">
    </div>

    <div class="products" id="products-container">
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
        <h1>products</h1>
    </div>


</body>


</html>
