<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Document</title>
</head>

<body>

        <div id="header-container">
            <div id="logo-container">
                <img src="public/images/logo.svg">
            </div>
            <div id="menu-container">
                <button name="menu">Menu</button>
                <button name="locals">Locales</button>
                <button name="cart">Cart</button>
                <button name="login">Log in</button>
            </div>
        </div>

        <div id="image-container" class="segment">
            <img src="public/images/graphic.svg">
        </div>
    
        <div id="wrapper">
            <div id="products" class="panels">
                <p>Products</p>

            </div>
        </div>
        
        



</body>

</html>