/* 
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
 */

html {
  scroll-behavior: smooth;
}
 body {
  margin: 0;
  font-size: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
    
  }

/*==================== MAIN GRAPHIC =============================*/
  

.image-container-09 {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.image-container-09 img {
  width: 100%;
  height: auto;
}

.image-container-01 {
  width: 100vw;
  height: 10%;
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 5;
}

.image-container-01 img {
  width: 100%;
  height: auto;

}

@media screen and (min-width: 901px) {
  #img09mob {
    display: none;
  }
  #img01mob {
    display: none;
  }

}

@media screen and (max-width: 900px) {
  .image-container-01 {
    height: 20%;
  } 
  #img09 {
    display: none;
  } 
  #img01 {
    display: none;
  }

}

/*==================== P R O D U C T S =============================*/
 
  .products {
    /* padding-top: 10vh; */
    font-size: medium;
    width: 100vw;
    height: auto;
    background-color: #FFF;
    z-index: 1;

 } 





 /* saviour: https://jsfiddle.net/k91wahsj/2/*/