

.modify_container {
    margin-top: 20vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;


}

.modify_body {
    width: 80vw;
    padding: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 15px;
    background: rgba(217, 217, 217, 0.66);
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.modify_body > * {
    margin: 2vh 0 2vh 0;
}

.product {
    width: 80%;
    height: 20vh;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-style: solid;
    border-color: rgb(221, 118, 223);
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
}

.img_container {
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
}

.img_container img {
    width: 100%;
    object-fit: fill;
    margin-top: -10vh;
}

@media (max-width: 900px) {
    .img_container {
        height: 10vh;
    }
    .img_container img {
        height: 100%;
        margin: 0;

    }
    .product {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }
}

.product form {
    margin: 5vw;
    padding: 1vw;
}

.product form > * {
    margin: 0.1em;
    padding: 0.3em;
}


.modify_body a {
    margin-top: 10%;
    margin-bottom: 5%;
    text-decoration: none;
    color: black;
    border: transparent;
    background: rgb(221, 118, 223);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    letter-spacing: 4px;

    cursor: pointer;
}

.modify_body a:hover {
    background-color: rgb(221, 118, 223, 0.75);
}
