
/* dunno whose, but hes a saviour: https://jsfiddle.net/k91wahsj/2/*/


body {
    margin: 0;
}

/*==================== H E A D I N G =============================*/

#header-container {
    width: 100vw;
    height: 10%;
    position: fixed;
    
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
 
    vertical-align: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}

#logo-container {
    width: 50%;
    text-align: left;
    padding-top: 1%; 
}

#logo-container img {
    width: 35%;
    height: auto;
}

#menu-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2%;

}

#menu-container button {

    max-height: 100%;
    
    font-size: 26px;
    background-color: transparent;
    color:black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

#menu-container button:hover {
    background: rgba(221, 118, 223, 0.75); 
    color:rgba(0, 0, 0, 0.993);
    
}

/*==================== BACKGROUND IMAGE =============================*/


#image-container img {
    width: 100%; /* Make the image as wide as the viewport */
    height: auto; /* Maintain aspect ratio */
    z-index: 0;
    position: fixed;

}



/*==================== P R O D U C T S =============================*/

#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

.panels {
    position: relative;
    min-height:100%;
    width:100%;
    z-index:50;
}

#products{
   margin-top:50%;
   width: 100%;
   background:rgb(250, 250, 250);
}

